 html, body {
      position: relative;
      height: 100%;
      background: #000;
    }
    *{-webkit-tap-highlight-color:transparent}
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .wrap,img{
    	-webkit-transform: translateZ(0);
      	transform: translateZ(0);
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-button-next, .swiper-button-prev{
    	background-size: 100% 100%;
    	width: 11px;
    }
    .wrap{overflow: hidden;width: 100%;}
    .guang{position: absolute;z-index: 1;}
    img{width: 100%;height: 100%;}
